<div class="container-fluid">
  <li class="list-group-item">
      <img class="center-block img-responsive" style="max-height:300px" src="https://media.giphy.com/media/8l8moRHif1UC4/giphy.gif"></li>
</div>

<div>
  <h3> This Application Provides Shoe and Shoe Stores Tracking</h3>
</div>
